name: Rust

on:
  pull_request:
    branches: ["master"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: cargo build
      - name: Build Examples
        run: cargo build --example custom
      - name: Run tests
        run: cargo test
